In [39]:
import os
import json
import pandas as pd

In [40]:
filepath = '../data/created-datasets/'
all_files = os.listdir(filepath)

In [41]:
all_files

['raw.csv',
 'README.md',
 'aggregated_dataset.csv',
 'thresholds.json',
 'events.csv',
 'bot_annotated_dataset.csv',
 'annotations.json']

### CREATE EVENTS TABLE, DATASET WAS EXTRACTED MANUALLY

In [42]:
events = pd.read_csv(filepath +  'events.csv',  sep=';')
events = events[['event_id', 'start', 'end', 'event_type']]
events

   event_id       start         end event_type
0         1  05/03/2022  04/04/2022   Positive
1         2  27/01/2022  16/02/2022   Positive
2         3  23/02/2022  07/03/2022   Positive
3         4  01/06/2022  01/07/2022   Negative
4         5  27/04/2022  19/05/2022   Negative
5         6  12/01/2022  30/01/2022   Negative

In [43]:
print(events.to_latex(index=False))

\begin{tabular}{rlll}
\toprule
 event\_id &      start &        end & event\_type \\
\midrule
        1 & 05/03/2022 & 04/04/2022 &   Positive \\
        2 & 27/01/2022 & 16/02/2022 &   Positive \\
        3 & 23/02/2022 & 07/03/2022 &   Positive \\
        4 & 01/06/2022 & 01/07/2022 &   Negative \\
        5 & 27/04/2022 & 19/05/2022 &   Negative \\
        6 & 12/01/2022 & 30/01/2022 &   Negative \\
\bottomrule
\end{tabular}

/var/folders/68/8msv38hx38v_2kjty7hk1bsc0000gn/T/ipykernel_2653/3492723824.py:1: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(events.to_latex(index=False))

### CREATE RAW DATA_SET

In [44]:
bots_detection = pd.read_csv(filepath + 'bot_annotated_dataset.csv',sep=';')

/var/folders/68/8msv38hx38v_2kjty7hk1bsc0000gn/T/ipykernel_2653/982443001.py:1: DtypeWarning: Columns (19,20,21,22,23) have mixed types. Specify dtype option on import or set low_memory=False.
  bots_detection = pd.read_csv(filepath + 'bot_annotated_dataset.csv',sep=';')

In [45]:
bots_detection.columns

Index(['date', 'id', 'corpus', 'text_type', 'conflict', 'similarity',
       'knowledge', 'power', 'status', 'support', 'identity', 'romance',
       'trust', 'fun', 'High', 'Low', 'Mean', 'Close', 'event_id',
       'event_type', 'period_type', 'lnbot', 'zelcore', 'mod'],
      dtype='object')

In [46]:
bots_detection = bots_detection[['id','lnbot','zelcore', 'mod']]

In [47]:
bot_type = []
for index, row in bots_detection.iterrows():
    tmp_list = ""

        
    
    if row['lnbot'] == True:
        tmp_list+=('lnbot ')
    if row['zelcore'] == True:
        tmp_list+=('zelcore ')
    if row['mod'] == True:
        tmp_list+=('mod ')
    if tmp_list =="":
        tmp_list += 'None'
    bot_type.append(tmp_list)

In [48]:
bot_type[:5]

['None', 'None', 'None', 'None', 'None']

In [49]:
bots_detection['bot_type'] = bot_type
bots_detection

            id  lnbot zelcore    mod bot_type
0       t7c3t7  False   False  False     None
1       t7c9cs  False   False  False     None
2       t7cbqa  False   False  False     None
3       t6xdmv  False   False  False     None
4       t7cf3e  False   False  False     None
...        ...    ...     ...    ...      ...
77051  iouvy8t   True   False  False   lnbot
77052  iouw6s5  False   False  False     None
77053  iouw7i0  False   False  False     None
77054  iouw7s9  False   False  False     None
77055  iouw5vp  False   False  False     None

[77056 rows x 5 columns]

In [50]:
raw_data = pd.read_csv('../data/created-datasets/aggregated_dataset.csv',sep=';')

/var/folders/68/8msv38hx38v_2kjty7hk1bsc0000gn/T/ipykernel_2653/2327557577.py:1: DtypeWarning: Columns (18,19) have mixed types. Specify dtype option on import or set low_memory=False.
  raw_data = pd.read_csv('../data/created-datasets/aggregated_dataset.csv',sep=';')

In [51]:
raw_data.head()

,id,author,corpus,date,conflict,similarity,knowledge,power,status,support,identity,romance,trust,fun,High,Low,Close,event_id,event_type,period_type
0,t7c3t7,3ditTrader,sarn sauron coin bsc gem of 2022 launch now e...,2022-03-06,0.217982,0.008616,0.987545,0.095460,0.210643,0.012049,0.401652,0.004092,8.436824e-07,0.404854,39640.176751,38211.647962,38419.983377,1.0,positive,before
1,t7c9cs,adzu1a,a proposal to you removed,2022-03-06,0.503045,0.435572,0.485023,0.518171,0.427520,0.495435,0.432057,0.254124,3.306695e-01,0.453298,39640.176751,38211.647962,38419.983377,1.0,positive,before
2,t7cbqa,sedentarybird,time to buy nan,2022-03-06,0.315845,0.453668,0.491014,0.467255,0.453663,0.485220,0.443327,0.571401,4.674791e-01,0.595824,39640.176751,38211.647962,38419.983377,1.0,positive,before
3,t6xdmv,Plenty-Stock,stupid question please excuse my ignorance can...,2022-03-06,0.685344,0.003814,0.995469,0.033478,0.095750,0.000713,0.207318,0.000114,8.855732e-07,0.099581,39640.176751,38211.647962,38419.983377,1.0,positive,before
4,t7cf3e,[deleted],bitcoin nan,2022-03-06,0.488357,0.469591,0.483014,0.434496,0.515467,0.484323,0.482162,0.507920,5.038089e-01,0.523179,39640.176751,38211.647962,38419.983377,1.0,positive,before

In [52]:
raw_data = raw_data.merge(bots_detection, on='id')

In [53]:
raw_data = raw_data[['corpus','author','conflict', 'similarity', 'knowledge', 'power', 'status',
       'support', 'identity', 'romance', 'trust', 'fun','date','Close','bot_type']]

In [54]:
raw_data.columns = ['text','userID','conflict', 'similarity', 'knowledge', 'power', 'status',
       'support', 'identity', 'romance', 'trust', 'fun','date','closing_price','bot_type']
raw_data['text'] = raw_data['text'].str[:24]
raw_data.head()

,text,userID,conflict,similarity,knowledge,power,status,support,identity,romance,trust,fun,date,closing_price,bot_type
0,sarn sauron coin bsc ge,3ditTrader,0.217982,0.008616,0.987545,0.095460,0.210643,0.012049,0.401652,0.004092,8.436824e-07,0.404854,2022-03-06,38419.983377,None
1,sarn sauron coin bsc ge,3ditTrader,0.217982,0.008616,0.987545,0.095460,0.210643,0.012049,0.401652,0.004092,8.436824e-07,0.404854,2022-03-06,38419.983377,None
2,sarn sauron coin bsc ge,3ditTrader,0.217982,0.008616,0.987545,0.095460,0.210643,0.012049,0.401652,0.004092,8.436824e-07,0.404854,2022-03-06,38419.983377,None
3,sarn sauron coin bsc ge,3ditTrader,0.217982,0.008616,0.987545,0.095460,0.210643,0.012049,0.401652,0.004092,8.436824e-07,0.404854,2022-03-06,38419.983377,None
4,a proposal to you remove,adzu1a,0.503045,0.435572,0.485023,0.518171,0.427520,0.495435,0.432057,0.254124,3.306695e-01,0.453298,2022-03-06,38419.983377,None

In [57]:
### save raw.csv
raw_data.to_csv(filepath + 'raw.csv',index=False)

In [58]:
sample_raw_data = raw_data[['text','userID','knowledge','date','closing_price','bot_type']]

In [59]:
sample_raw_data = sample_raw_data.sample(n=10, random_state=6)

print(sample_raw_data.to_latex(index=False))

\begin{tabular}{llrlrl}
\toprule
                    text &               userID &  knowledge &       date &  closing\_price & bot\_type \\
\midrule
ethereum is the mother a &           RustinSats &   0.517420 & 2022-05-24 &   29655.586133 &     None \\
                deleted  &            [deleted] &   0.510209 & 2022-03-08 &   38737.268495 &     None \\
withdrawing bitcoin from &            Shywitch9 &   0.986890 & 2022-01-31 &   38483.126309 &   lnbot  \\
                removed  &            [deleted] &   0.514874 & 2022-03-19 &   42190.653462 &     None \\
looking to get a cold st &             w\_savage &   0.988511 & 2022-03-12 &   38904.013398 &     None \\
change your mindset ever &        Rose\_Barclay1 &   0.986264 & 2022-06-30 &   19784.726495 &     None \\
won t let me use coinbas &        worldguard667 &   0.995066 & 2022-02-01 &   38743.272569 &     None \\
most people in india tha &             parakite &   0.989058 & 2022-01-27 &   37138.234316 &     None \\
i will be watching i cho &              ErosTHE &   0.346739 & 2022-07-08 &   21731.116583 &     None \\
kraken hey so i have bee & Worth-Yogurtcloset29 &   0.720074 & 2022-01-28 &   37784.333264 &     None \\
\bottomrule
\end{tabular}

/var/folders/68/8msv38hx38v_2kjty7hk1bsc0000gn/T/ipykernel_2653/702299670.py:3: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(sample_raw_data.to_latex(index=False))